/* Estilo general para el contenedor */
.container {
    margin-top: 50px; /* Espacio superior */
  }
  
  /* Borde rojo para las tarjetas */
  .card {
    border-width: 2px; /* Ancho del borde */
  }
  
  /* Centrar las tarjetas en la pantalla */
  .row {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
  }
  
  