/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    flex-direction: column;
    
}

/* Header Template */
header {
    background-color: #E60012; /* Rojo de Nintendo */
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

header .header-container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-left {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Espaciado entre los elementos */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.auth-buttons{
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.auth-buttons button:hover {
    background-color: #555;
}



/* Footer Template */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-links, .footer-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

footer ul li a:hover {
    text-decoration: underline;
}

.footer-info {
    text-align: right;
}

.footer-info p {
    margin: 0;
}

.footer-info ul {
    display: flex;
    gap: 15px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-info {
        text-align: center;
    }

    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}



button{
    font-weight: bold;
}