
/* Estilos para la imagen del juego */
.image-placeholder {
    background-color: #f0f0f0;
    height: 300px;
  }
  
  /* Estilos para el logo de la empresa desarrolladora */
  .company-logo-placeholder {
    background-color: #e0e0e0;
    height: 50px;
    width: 150px;
  }
  
  /* Estilos para las reseñas */
  .review-entry {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  

  