.filter-bar {
   display: flex;
   align-items: center;
   padding: 10px;
   background-color: #f9f9f9;
   border-bottom: 1px solid #ddd;
}

.filter-btn {
    margin-right: 20px;
    padding: 8px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.filter-btn:hover {
    background-color: #d32f2f;
}


.filters {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-item {
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
}

.filter-item:hover {
    background-color: #ccc;
}