.Card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    height: 310px;
    overflow: hidden;
    box-sizing: border-box;
}