/* ayuda.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  height: 100%;
}

.container {
  max-width: 1200px; /* Asegura que use todo el ancho de la pantalla */
  width: 100%;
  padding: 180px;
  margin: 0 auto;
  flex-grow: 1; /* Expande el contenedor para ocupar el espacio disponible */
}

h1 {
  margin-bottom: 100px; /* Espacio debajo del título */
  font-size: 10px; /* Tamaño del texto del título */
}

.row {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Asegura que los elementos hijos llenen el espacio vertical */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
  gap: 20px;
}

.card {
  flex: 1 1 300px;
  width: 100%; /* Asegura que las tarjetas ocupen el 100% del ancho de su contenedor */
  max-width: 350px; /* Limita el ancho máximo de las tarjetas */
  border: 2px solid #dc3545; /* Borde rojo */
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
  transition: transform 0.2s; /* Transición suave para el efecto hover */
  margin-bottom: 20px; /* Añade espacio entre las filas */
  padding: 20px;
}

.card:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.card-body {
  padding: 20px; /* Espacio interno de la tarjeta */
}

.card-title {
  font-size: 1.5rem; /* Tamaño del texto del título de la tarjeta */
  margin-bottom: 15px; /* Espacio debajo del título de la tarjeta */
}

.card-text {
  font-size: 1rem; /* Tamaño del texto de la tarjeta */
  margin-bottom: 20px; /* Espacio debajo del texto de la tarjeta */
}

.btn-danger {
  background-color: #dc3545; /* Color de fondo del botón */
  border: none; /* Sin borde */
  padding: 10px 15px; /* Espaciado interno del botón */
  border-radius: 5px; /* Bordes redondeados para el botón */
  color: white; /* Color del texto del botón */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.2s; /* Transición suave para el efecto hover */
}

.btn-danger:hover {
  background-color: #c82333; /* Color más oscuro al pasar el mouse */
}