/* ayuda.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  height: 100%;
}

.container { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; /* Ocupa toda la altura de la pantalla */ 
  padding: 10px;
  box-sizin: border-box;
}

.row {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre las tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
  gap: 20px; /* Espacio entre las tarjetas */
}

.col-sm-6 {
  flex: 1 1 45%;
  max-width: 45%; /* Ajusta el tamaño máximo para asegurarte de que dos tarjetas caben en una fila */
  box-sizing: border-box;
}

.card {
  flex: 1 1 300px;
  width: 100%; /* Asegura que las tarjetas ocupen el 100% del ancho de su contenedor */
  max-width: 350px; /* Limita el ancho máximo de las tarjetas */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ccc;
  border: 2px solid #dc3545; /* Borde rojo */
  border-radius: 20px; /* Bordes redondeados */
  margin-bottom: 20px; /* Añade espacio entre las filas */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
  transition: transform 0.2s; /* Transición suave para el efecto hover */
}

h1 {
  margin-bottom: 100px; /* Espacio debajo del título */
  font-size: 30px; /* Tamaño del texto del título */
}

.card:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.card-body {
  padding: 20px; /* Espacio interno de la tarjeta */
}

.card-title {
  font-size: 1.5rem; /* Tamaño del texto del título de la tarjeta */
  margin-bottom: 15px; /* Espacio debajo del título de la tarjeta */
}

.card-text {
  font-size: 1rem; /* Tamaño del texto de la tarjeta */
  margin-bottom: 20px; /* Espacio debajo del texto de la tarjeta */
}

.btn-danger {
  background-color: #dc3545; /* Color de fondo del botón */
  border: none; /* Sin borde */
  padding: 10px 15px; /* Espaciado interno del botón */
  border-radius: 5px; /* Bordes redondeados para el botón */
  color: white; /* Color del texto del botón */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.2s; /* Transición suave para el efecto hover */
}

.btn-danger:hover {
  background-color: #c82333; /* Color más oscuro al pasar el mouse */
}