.filter-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    margin-top: 0;
}

.filter-btn {
    background-color: #ff4b4b;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-item {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}