.catalog-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    display: flex;
    padding: 20px;
  }
  
  .catalog-content {
    flex-grow: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .videogames {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
  