.main-content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px;
  min-height: 80vh;
  align-items: flex-start;
}

.catalog-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.videogames {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  min-height: 500px;
}

.videogames div {
  display: flex;
  flex-direction: column;
  justify-content: column;
  height: 300px;
  background-color: white;
  border-radius: 10px;
}

.videogames img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.search-bar input {
  width: 500px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: #333;
}

.filter-bar {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  top: 20px;
}

.filter-btn {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-item summary {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  list-style: none;
}

.filter-item summary:hover {
  background-color: #e0e0e0;
}

.filter-item[open] summary {
  background-color: #d0d0d0;
}

.filter-item div {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.game-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.game-link:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0, 0,2);
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #E60012;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}