.payment-box {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #e0e0e0; /* Cambia a un color más tenue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra suave */
}

.payment-box h5 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

.form-row {
    display: flex;
    gap: 1rem;
}

.form-group {
    flex: 1;
}