.infojuego-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Sección de contenido */
.infojuego-content {
  display: flex;
  align-items: center;
  /* Centra verticalmente imagen y detalles */
  gap: 60px;
  /* Mayor separación entre la imagen y los detalles */
  margin-bottom: 40px;
}

/* Estilos para la imagen del juego */
.infojuego-image-section {
  flex: 0.5;
}

.infojuego-image-section img {
  width: 100%;
  max-width: 400px;
  /* Tamaño máximo de la imagen */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Sombra para darle profundidad */
}

/* Sección de detalles del juego */
.infojuego-details-section {
  flex: 1;
}

.game-title {
  font-size: 28px;
  /* Texto más grande */
  font-weight: bold;
  margin-bottom: 10px;
}

.category-label {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.price {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.button-group {
  display: flex;
  gap: 15px;
  /* Mayor separación entre botones */
  margin-bottom: 20px;
}

.btn {
  padding: 12px 18px;
  /* Tamaño más grande para los botones */
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.primary-btn {
  background-color: #333;
  color: white;
}

.secondary-btn {
  background-color: #333;
  color: white;
}

/* Sección de descripción */
.description-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  /* Fondo más claro */
}


.reviews-section {
  margin-top: 30px;
}

.review-entry {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.create-review-btn {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: #e2172b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  text-align: center;
}

.create-review-btn:hover {
  background-color: #a02632;
}