body {
    margin: 0;
  }

#page{
    height:100%;
}

.account-type-selection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Centra los elementos dentro del contenedor */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    max-width: 600px; /* Limita el ancho máximo del contenedor para evitar que se extienda demasiado */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.account-type-selection h2 {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    width: 100%; /* Asegura que el grupo de botones ocupe todo el ancho disponible */
}

.button-group button {
    background-color: #E60012;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el botón de iniciar sesión */
}

.login-button {
    background-color: #636363;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button-group button:hover,
.login-button:hover {
    background-color: #c50010;
}