main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

main h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #000;
}

main h2 {
    margin-bottom: 20px;
}

.button-group button{
    background-color: #E60012;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login{
    display:flex;
    flex-direction: column;
}

.login-button{
    background-color: #636363;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
}

.button-group button:hover, .login-button:hover {
    background-color: #c50010;
}