.summary {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid #e0e0e0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.summary h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.summary li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.total {
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-transaction {
    width: 100%;
    margin-top: 1rem;
    background-color: #dc3545;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn-transaction:hover {
    background-color: #c82333;
}