.Videojuego {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 200px; /* Tamaño fijo para las tarjetas */
}

.Videojuegos {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 20px;
}

.Videojuego p {
    font-size: 14px;
    margin: 5px 0;
}

.Videojuego img {

    max-width: 100%;
    height: auto;
    margin-bottom: 10px;

}

